{% extends "Auth/main.html" %}

{% block style %}
  <style>
  .User_Task-navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .User_Task-navbar .User_Task-links a {
    margin-left: 20px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
  }

  .User_Task-navbar .User_Task-links a:hover {
    text-decoration: underline;
    
  }
</style>

{% endblock style %}

{% block content %}
<!-- User_Task Navigation Bar below top heading -->
<div class="main-content">
  <div class="User_Task-navbar mt--10">
    <!-- Left: Add User_Task Button -->
     <a href="{% url "task_form" %}">
    <button class="btn btn-primary btn-sm">+ Add User_Task</button>
    </a>

    <!-- Right: User_Task Filters -->
    <div class="User_Task-links">
      <a href="{% url 'today_task' %}">Today User_Task</a>
      <a href="{% url 'advance_task' %}">Advance User_Task</a>
      <a href="#">Pending User_Task</a>
      <a href="{% url "complite" %}">Complete User_Task</a>
    </div>
  </div>

  <!-- Main content -->
   {% block task_content %}{% endblock task_content %}

{% endblock content %}
